.podcast-container {
  padding: 6%;

  h3 {
    color: #6d7a88;
  }
}

.podcast-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-left: 2%;
}

.podcast-image {
  margin-right: 30px;
  width: 15%;
  height: auto;
  border-radius: 5px;
  border: 4px darkgray solid;
}

.website-btn {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 3px;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 10%;

  &:hover {
    background-color: #e7e7e7;
  }
}

.podcast-description {
  width: 80%;
  padding: 5% 0 0 2%;
  line-height: 180%;

  h2 {
    margin-top: 0;
    color: #6d7a88;
  }
}

.description {
  font-weight: normal;
}

.genres {
  display: flex;
  flex-wrap: wrap;
}

.genre {
  border-radius: 4px;
  background-color: rgba(0,0,0,.05);
  font-weight: normal;
  padding: 4px 8px;
  font-size: 0.9rem;
  color: dimgrey;
  margin: 1% 2% 0 0;
}

.info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}

.info-item {
  color: grey;
  font-size: 0.9rem;
  margin-right: 3%;

  span {
    display: inline-block;
    vertical-align: middle;
  }
}

.info-icon {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: auto;
  margin-right: 5px;
}