@import '../../components/base_tools.scss';

$grey-theme: #6d7a88;

.podcast-container {
  padding: 6%;

  h3 {
    color: $grey-theme;
  }
}

.podcast-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-left: 2%;

  h1 {
    font-size: calcFluidFontSize(20, 32, 400, 1900);
  }

  h3 {
    font-size: calcFluidFontSize(14, 32, 400, 1900);
  }
}

.podcast-image {
  margin-right: 30px;
  width: 15%;
  height: auto;
  border-radius: 5px;
  border: 4px $grey-theme solid;
}

.website-btn {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 3px;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 10%;

  &:hover {
    background-color: #e7e7e7;
  }
}

.podcast-description {
  @include details-block
}

.description {
  font-weight: normal;
}

.genres {
  display: flex;
  flex-wrap: wrap;
}

.genre {
  border-radius: 4px;
  background-color: rgba(0,0,0,.05);
  font-weight: normal;
  padding: 4px 8px;
  font-size: 0.9rem;
  color: dimgrey;
  margin: 1% 2% 0 0;
}

.info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}

.info-item {
  color: grey;
  font-size: 0.9rem;
  margin-right: 3%;

  span {
    display: inline-block;
    vertical-align: middle;
  }
}

.info-icon {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: auto;
  margin-right: 5px;
}

.load-block {
  width: 100%;
  display: flex;
  justify-content: center;
}

.load-button {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 3px;
  padding: 8px 10%;
  text-align: center;
  font-weight: normal;
  display: inline-block;
  font-size: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;

  &:hover {
    background-color: #e7e7e7;
  }
}

.episode-loader-wrapper {
  margin-bottom: 3%;
}
