.card {
  position: relative;
  margin-bottom: 5%;

  &:hover {
    cursor: pointer;
    filter: drop-shadow(5px 5px 8px grey);
  }
}

.card-image {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 100%;
  /*background: url(../../assets/png/red_card.png) no-repeat;
  background-size: contain;*/
}

.card-title {
  position: absolute;
  top: 50%;
  left: 20%;
  right: 20%;
  width: 60%;
  height: 30%;
  color: white;
  font-size: calcFluidFontSize(12, 28, 400, 1900);
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  font-stretch: condensed;
}

.podcast-cover {
  position: absolute;
  width: 20%;
  height: auto;
  top: 70%;
  right: 20%;
  border: 4px white solid;
  border-radius: 10px;
  background-color: white;
  filter: opacity(90%);
}