$cols: 3;

@mixin flex-grid-items($cols) {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;

  > * {
    $item-width: 100% / $cols;
    width: $item-width;
  }
}


.card-container {
  @include flex-grid-items($cols);
}



